.mentions-user-link {
	display: inline-block;
	padding: 0 6px;
	border: 1px solid $(border-color-soft);
	border-radius: 5px;
	
	&:hover {
		text-decoration: none;
		background-color: $(background-color-soft);
	}
	
	.mentions-user-icon {
		padding: 0;
		margin: 0 0 2px 0;
		vertical-align: middle;
	}
}

.mentions-popup {
	padding: 0;
	max-height: 400px;
	overflow-y: auto;
	
	.elgg-autocomplete-item {
		padding: 6px;
		
		&:hover {
			background-color: $(background-color-soft);
			cursor: pointer;
		}
	}
	
	.elgg-ajax-loader {
	    margin: 10px auto;
	}
}
